@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    margin: 0;
    height: 100vh; /* Ensure full screen height is used */
    display: flex;
    flex-direction: column;
}

span {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: start; /* Horizontally justify */
    align-items: center;    /* Vertically centers */
    height: 10%;
    background-color: #296e90;
    color: white;
    font-size: 4vh;
    padding-left: 3vw;
}

.page-container {
    display: flex;
    height: 90%;
    background-color: rgb(246, 245, 248);
    font-size: 3vh;
    color: black;
    padding: 3vh;
}

.page {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 245, 248);
    height: 100%;
    width: 100%;
    margin-top: 3vh;
    text-align: center;
    justify-content: start;
    align-items: center; 

    & * + * {
        margin-top: 2vh;
    }
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 4vh;
    width: 4vh;

    margin-top: 10vh;

    border: 1vw solid #296e90;
    border-radius: 50%;
    color: #296e90;
    padding: 8vh;
    font-size: 4vh;
}
